<!DOCTYPE html>
<html>
	<head>  
		<meta charset="utf-8">   
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
		<title>收银台</title>
		<script type="text/javascript" src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"> </script>
		<script>
			var queryInternal = 10000;
			var queryTimerId;
			var bindCards = [];
			var orderNo = '{{ order_no }}';
		  
			//定义超时时限 6*60 秒
			var secondAll = 60 * 6;
			var clock = null;
			
			// 绑卡。
			var bindCardId = null;

			$(window).load(function() {
				//设置计时器
				clock = setInterval(setTimer, 1000);
				
				//查询订单支付状态
				queryOrder();
				
				// 判断当前状态
				if (bindCards.length == 0) {
					setCurrentState('bind_card');
				} else {
					setCurrentState('pay');
				}
				
				// 直接支付
				$('.try_direct_pay').click(function() {
					setCurrentState('pay_direct');
				});
				
				// 签约
				$('.section_bind_card .fetch_smscode').click(bindCard);
				$('.section_bind_card .bind_card').click(bindCardConfirm);
				
				hideWarningWhenInput('.section_bind_card', '.acctno');
				hideWarningWhenInput('.section_bind_card', '.acctname');
				hideWarningWhenInput('.section_bind_card', '.idno');
				hideWarningWhenInput('.section_bind_card', '.mobile');
				hideWarningWhenInput('.section_bind_card', '.smscode');
								
				// 支付
				
			});
			
			// 输入时，隐藏相关的错误提示。
			function hideWarningWhenInput(section, item) {
				$(section + ' ' + item + ' input').on('input', function(){
					$(section + ' ' + item + ' .section_item_warning').hide();
					$(section + ' .tips .section_item_warning').hide();
				});
				
			}
			
			// 处理绑卡请求 - 校验请求参数。
			function bindCardValidate() {
				var acctno = $('.section_bind_card .acctno input').val(), 
					acctname = $('.section_bind_card .acctname input').val(),
					idno = $('.section_bind_card .idno input').val(),
					mobile = $('.section_bind_card .mobile input').val();
				var valid = true;
					
				if (acctno == '' || acctno.length < 12) {
					$('.section_bind_card .acctno .section_item_warning').show();
					valid = false;
				}
				if (acctname == '' || acctname.length < 2) {
					$('.section_bind_card .acctname .section_item_warning').show();
					valid = false;
				}
				if (idno == '' || (idno.length != 15 && idno.length != 18)) {
					$('.section_bind_card .idno .section_item_warning').show();
					valid = false;
				}
				if (mobile == '' || mobile.length != 11 || !mobile.startsWith('1')) {
					$('.section_bind_card .mobile .section_item_warning').show();
					valid = false;
				}
				
				if (valid) {
					return {'valid': true, 'acctno': acctno, 'acctname': acctname, 'idno': idno, 'mobile': mobile};
				} else {
					return {'valid': false};
				}
			}
			
			// 处理绑卡请求。
			function bindCard() {
				var t = $(this);
				t.unbind('click');
				console.log('bind card');
				var validateResult = bindCardValidate();
				
				if (!validateResult.valid) {
					t.bind('click', bindCard);
					return;
				}
				
				$.ajax({
					type: 'POST',
					url: '/api/v2/express-pay/bind-card/ap',
					data: { 'acctno': validateResult.acctno, 'acctname': validateResult.acctname, 
							'idno': validateResult.idno, 'mobile': validateResult.mobile, 'bind_id': validateResult.bindCardId},
				}).done(function(response) {
					if (true) {
						//
					}
					t.bind('click', bindCard);
				}).fail(function(data, textStatus, jqXHR) {
					console.log('failed request bind-card');
					$('.section_bind_card .tips .section_item_warning').text('请求签约失败，请重试！');
					$('.section_bind_card .tips .section_item_warning').show();
					t.bind('click', bindCard);
				});
			}
			
			// 处理绑卡确认。
			function bindCardConfirm() {
				console.log('bind card confirm');
				var smscode = $('.section_bind_card .smscode input').val();
				
				if (smscode == '') {
					$('.section_bind_card .smscode .section_item_warning').show();
				}
			}
			
			// 设置当前状态。
			function setCurrentState(state) {
				var sections = ['.section_bind_card', '.section_pay', '.section_bind_another_card', '.section_pay_direct'];
				for (var i = 0; i < sections.length; ++i) {
					if (sections[i] == '.section_' + state) {
						$(sections[i]).show();
					} else {
						$(sections[i]).hide();
					}
				}
			}

			//设置计时器
			function setTimer(){
				getTimeStr();
				$(".remaining_time").text(time_str);
			}

			//获取当前时间串
			function getTimeStr(){ 
				secondAll--;
				if (secondAll == 0) {
					clearInterval(clock);       
				}
				var minute = "0" + parseInt(secondAll / 60);

				var second = secondAll - minute * 60;
				if (second < 10) {
					second = "0" + second;
				}
				time_str =  minute + "分" + second + "秒";
			}

			// 查询订单支付状态
			function queryOrder() {
				$.ajax("{{ api_domain}}/api/order/query?order_no={{ order_no }}")
				.done(function(data) {
					if (data.code != 200) {
						console.log('failed query order status, code: ' + data.code + ", message: " + data.message);
						setTimeout(queryOrder, queryInternal);
						return;
					}

					console.log('order status====> ' + data.order_status + " finished: " + data.order_finished);
					$('#pay_status').text(data.order_status);
					if (!data.order_finished) {
						setTimeout(queryOrder, queryInternal);
					}
					else {
						clearInterval(clock); 
					}
				})
				.fail(function() {
				});
			}
		</script>

		<style type="text/css">
			html{
				font-size: 16px;
			}
			
			:root{
				--order-item-margin-left: 1rem;
				--order-item-margin-top: 1rem;
				--order-item-font-size: 1rem;
				--order-item-width: 5rem;
				--section-title-padding: 1rem;
				--section-title-margin: 1.25rem;
				--section-title-font-size: 0.9rem;
				--section-item-height: 1.8rem;
				--section-item-warning-margin-left: 6.2rem;
			}
			
			body {
				margin: 0;
				background: white;
			}
			
			.header {
			   white-space: nowrap;
			   text-align: center;
			   height: 3rem;
			   position: relative;
			   border-bottom: 0.01rem solid black;
			} 
			
			.pay_channel_logo{
				width: 7.2rem;
				height: 1.8rem;
			  
				position: absolute;
				top: 50%;
				left: 50%;
			  
			    transform: translate(-50%, -50%);
        	}
			
			.order_info {
				display: inline-block;
			}
			
			.order_info_item {
				margin-left: var(--order-item-margin-left);
				margin-top: var(--order-item-margin-top);
				font-size: var(--order-item-font-size);
			}
			
			.order_info_item_title {
				display: inline-block;
				width: var(--order-item-width);
			}
			
			.order_info_item_detail {
				display: inline-block;
			}
			
			.remaining_time {
				color: #FF0000;
			}
			
			.section_title {
				background-color: #e4e4e4;
				padding: var(--section-title-padding);
				margin-top: var(--section-title-margin);
				font-size: var(--section-title-font-size);

			}
			
			.section_title_title {
				display: inline-block;
			}
			
			.section_title_bank_quota {
				display: inline-block;
				color: blue;
				float: right;
			}
			
			.section_item {
				margin-left: 1rem;
				margin-top: var(--order-item-margin-top);
				margin-right: 1rem;
				font-size: var(--order-item-font-size);
				height: var(--section-item-height);
			}
			
			.section_item_warning {
				margin-left: var(--section-item-warning-margin-left);
				color: orange;
			}
			
			.section_item_title {
				float:left;
				width: var(--order-item-width);
			}
			
			.section_item_detail {
			}
			
			.section_item_detail_border {
				border: 1px solid #e4e4e4;
				width: auto;
				overflow: hidden;
			}
			
			.section_item_detail_no_border {
				overflow: hidden;
			}
			
			.section_item_detail_normal {
				max-width: 20rem;
			}
			
			.section_item_detail_normal > input {
				width: 9rem;
				margin-left: 0.2rem;
			}
			
			.section_item_detail_smscode {
				width: 8rem;
				float: left;
			}
			
			.section_item_detail_smscode > input {
				width: 7.2rem;
				margin-left: 0.2rem;
			}
			
			.input_no_border {
				border: none;
			}
			
			.input_no_border:focus {
				outline: none;
			}
			
			.fetch_smscode {
				overflow: hidden;
				background-color: #004694;
				padding: 0.25rem 0.375rem 0.25rem 0.375rem;
				color: white;
				border-radius: 5px;
				font-size: 0.81rem;
				margin-left: 1.25rem;
				float:left;
			}
			
			.section_item_action {
				text-align: center;
			}
			
			.bind_card {
				width: 100%;
				background-color: #004694;
				color: white;
				border-radius: 5px;
				font-size: 1.1rem;
				padding-top:0.375rem;
				padding-bottom: 0.375rem;
				text-align: center;
				display: inline-block;
			}
			
			.try_direct_pay {
				color: blue;
				float: right;
				margin-right: 1rem;
				font-size: 0.9rem;
			}
			
			.bind_cards_container {
				margin-bottom: 3.2rem;
			}
			
			.bind_card_item {
				padding-left: 1rem;
				font-size: 1rem;
				height: 3.2rem;
				border-bottom: 0.6px solid #e4e4e4;
			}
			
			.bind_card_item_card_no {
				display: inline-block;
				height: 3.2rem;
				line-height: 3.2rem;
			}
			
			.bind_card_item_indicator {
				display: inline-block;
				float: right;
				margin-right: 1rem;
				height: 3.2rem;
				line-height: 3.2rem;
			}
		</style>
	</head>

	<body>
		<div class="header">
			<img class="pay_channel_logo" src="http://sifangtest.com/static/pay/img/unionpay_logo.png">
		</div>
		
		<div class="content">
			<div class="order_info">
				<div class="order_info_item">
					<div class="order_info_item_title">剩余时间：</div>
					<div class="order_info_item_detail remaining_time">9 分 59 秒</div>
				</div>
				<div class="order_info_item">
					<div class="order_info_item_title">订单金额：</div>
					<div class="order_info_item_detail">100元</div>
				</div>
			</div>
				
			<div class="section_bind_card" >
				<div class="section_title">
					<div class="section_title_title">快捷签约（首次使用）：</div>
					<div class="section_title_bank_quota">支持银行及限额</div>
				</div>
				<div class="section_item_container acctno">
					<div class="section_item">
						<div class="section_item_title">银行卡号：</div>
						<div class="section_item_detail_border section_item_detail_normal"><input placeholder="借记卡卡号" type="number" class="input_no_border"/></div>
					</div>
					<div class="section_item_warning" style="display:none">银行卡号错误，请重新输入</div>
				</div>
				<div class="section_item_container acctname">
					<div class="section_item">
						<div class="section_item_title">姓名：</div>
						<div class="section_item_detail_border section_item_detail_normal"><input placeholder="银行卡开户姓名" class="input_no_border"/></div>
					</div>
					<div class="section_item_warning" style="display:none">银行卡开户姓名错误，请重新输入</div>
				</div>
				<div class="section_item_container idno">
					<div class="section_item">
						<div class="section_item_title">身份证号：</div>
						<div class="section_item_detail_border section_item_detail_normal"><input placeholder="身份证号" class="input_no_border"/></div>
					</div>
					<div class="section_item_warning" style="display:none">身份证号错误，请重新输入</div>
				</div>
				<div class="section_item_container mobile">
					<div class="section_item">
						<div class="section_item_title">手机号：</div>
						<div class="section_item_detail_border section_item_detail_normal"><input placeholder="银行签约手机号码" type="number" class="input_no_border"/></div>
					</div>
					<div class="section_item_warning" style="display:none">手机号码错误，请重新输入</div>
				</div>
				<div class="section_item_container smscode">
					<div class="section_item">
						<div class="section_item_title">验证码：</div>
						<div class="section_item_detail_border section_item_detail_smscode"><input placeholder="验证码" class="input_no_border"/></div>
						<div class="fetch_smscode">验证码</div>
					</div>
					<div class="section_item_warning" style="display:none">验证码错误</div>
				</div>
				<div class="section_item_container tips">
					<div class="section_item_warning" style="display:none"></div>
				</div>
				<div class="section_item_container">
					<div class="section_item section_item_action">
						<div class="bind_card">下一步</div>
					</div>
				</div>
				<div class="section_item_container">
					<div class="section_item">
						<div class="try_direct_pay">我已有签约卡，可直接支付</div>
					</div>
				</div>
			</div>
			
			<div class="section_bind_another_card">
				<div class="section_title">
					<div class="section_title_title">快捷签约（首次使用）：</div>
					<div class="section_title_bank_quota">支持银行及限额</div>
				</div>
				<div class="section_item_container">
					<div class="section_item">
						<div class="section_item_title">银行卡号：</div>
						<div class="section_item_detail_border section_item_detail_normal"><input placeholder="借记卡卡号"  type="number" class="input_no_border"/></div>
					</div>
					<div class="section_item_warning" style="display:block">银行卡号错误，请重新输入</div>
				</div>
				<div class="section_item_container">
					<div class="section_item">
						<div class="section_item_title">姓名：</div>
						<div class="section_item_detail_border section_item_detail_normal"><input placeholder="银行卡开户姓名" class="input_no_border"/></div>
					</div>
					<div class="section_item_warning" style="display:block">银行卡开户姓名错误，请重新输入</div>
				</div>
				<div class="section_item_container">
					<div class="section_item">
						<div class="section_item_title">身份证号：</div>
						<div class="section_item_detail_border section_item_detail_normal"><input placeholder="身份证号" class="input_no_border"/></div>
					</div>
					<div class="section_item_warning" style="display:block">身份证号错误，请重新输入</div>
				</div>
				<div class="section_item_container">
					<div class="section_item">
						<div class="section_item_title">手机号：</div>
						<div class="section_item_detail_border section_item_detail_normal"><input placeholder="银行签约手机号码"  type="number" class="input_no_border"/></div>
					</div>
					<div class="section_item_warning" style="display:block">手机号码错误，请重新输入</div>
				</div>
				<div class="section_item_container">
					<div class="section_item">
						<div class="section_item_title">验证码：</div>
						<div class="section_item_detail_border section_item_detail_smscode"><input placeholder="验证码" class="input_no_border"/></div>
						<div class="fetch_smscode">验证码</div>
					</div>
					<div class="section_item_warning" style="display:block">验证码错误</div>
				</div>
				<div class="section_item_container">
					<div class="section_item section_item_action">
						<div class="bind_card">下一步</div>
					</div>
				</div>
				<div class="section_title">
					<div class="section_title_title">已签约银行卡：</div>
				</div>
				<div class="bind_cards_container">
					<div class="bind_card_item">
						<div class="bind_card_item_card_no">6213********2342</div>
						<div class="bind_card_item_indicator">></div>
					</div>
				</div>
			</div>
			
			<div class="section_pay">
				<div class="section_title">
					<div class="section_title_title">快捷签约：</div>
					<div class="section_title_bank_quota">支持银行及限额</div>
				</div>
				<div class="section_item_container">
					<div class="section_item">
						<div class="section_item_title">银行卡号：</div>
						<div class="section_item_detail_no_border section_item_detail_normal"><input placeholder="借记卡卡号" class="input_no_border"/></div>
					</div>
				</div>
				<div class="section_item_container">
					<div class="section_item">
						<div class="section_item_title">手机号码：</div>
						<div class="section_item_detail_no_border section_item_detail_normal"><input placeholder="银行签约手机号码" class="input_no_border"/></div>
					</div>
				</div>
				<div class="section_item_container">
					<div class="section_item">
						<div class="section_item_title">验证码：</div>
						<div class="section_item_detail_border section_item_detail_smscode"><input placeholder="验证码" class="input_no_border"/></div>
						<div class="fetch_smscode">验证码</div>
					</div>
					<div class="section_item_warning" style="display:block">验证码错误</div>
				</div>
				<div class="section_item_container">
					<div class="section_item section_item_action">
						<div class="bind_card">完成支付</div>
					</div>
				</div>
				<div class="section_title">
					<div class="section_title_title">已签约银行卡：</div>
				</div>
				<div class="bind_cards_container">
					<div class="bind_card_item">
						<div class="bind_card_item_card_no">6213********2342</div>
						<div class="bind_card_item_indicator">></div>
					</div>
					<div class="bind_card_item">
						<div class="bind_card_item_card_no">添加新的签约银行卡</div>
						<div class="bind_card_item_indicator">></div>
					</div>
				</div>
			</div>
			
			<div class="section_pay_direct">
				<div class="section_title">
					<div class="section_title_title">快捷签约：</div>
					<div class="section_title_bank_quota">支持银行及限额</div>
				</div>
				<div class="section_item_container">
					<div class="section_item">
						<div class="section_item_title">银行卡号：</div>
						<div class="section_item_detail_border section_item_detail_normal"><input placeholder="借记卡卡号" class="input_no_border"/></div>
					</div>
					<div class="section_item_warning" style="display:block">银行卡号错误，请重新输入</div>
				</div>
				<div class="section_item_container">
					<div class="section_item">
						<div class="section_item_title">手机号：</div>
						<div class="section_item_detail_border section_item_detail_normal"><input placeholder="银行签约手机号码" class="input_no_border"/></div>
					</div>
					<div class="section_item_warning" style="display:block">手机号码错误，请重新输入</div>
				</div>
				<div class="section_item_container">
					<div class="section_item">
						<div class="section_item_title">验证码：</div>
						<div class="section_item_detail_border section_item_detail_smscode"><input placeholder="验证码" class="input_no_border"/></div>
						<div class="fetch_smscode">验证码</div>
					</div>
					<div class="section_item_warning" style="display:block">验证码错误</div>
				</div>
				<div class="section_item_container">
					<div class="section_item section_item_action">
						<div class="bind_card">完成支付</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
