*{
    margin: 0;
    padding: 0
}
.clearfix:after {
    content: '';
    height: 0;
    display: block;
    clear: both;
}
.wrap {
    width: 100%;
    background-color: #fff;
}
.content-wrap {
    width: 980px;
    margin: 0 auto;
    background-color: rgba(245, 246, 248, 1);
    /* padding: 50px 0; */
    margin-top: 20px;
}
.content {
    /* width: 860px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px; */
}
.title {
    background-color: #fff;
    padding: 10px 0;
}
.title img:nth-child(1) {
    width: 93px;
    height: auto;
}
.title img:nth-child(2) {
    display: inline-block;
    width: 2px;
    height: 15px;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.title span {
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    color: #6B6B6B;
    font-size: 14px;
    font-weight: 200;
}
.contents {
    padding: 20px 50px;
    background-color: rgba(245, 246, 248, 1);
}
.contents .words {
    float: left;
}
.contents .words p{
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #797979;
    line-height: 25px;
}
.contents .words p:nth-child(1){
    font-size: 16px;
    color: #0D0D0D;
}
.contents .money {
    float: right;
    margin-top: 15px;
}
.contents .down {
    float: left;
    width: 100%;
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
    position: relative;
    margin-top: 20px;
}
.contents .down .erweima {
    margin-top: 20px;
    border: 1px solid #797979;
    padding: 5px;
    margin: 0 auto;
    width: 164px;
    margin-top: 20px;
}
.contents .down .erweima img{
    width: 152px;
    height: 151px;
    display: block;
    margin: 0 auto;
}
.contents .down .erweima .sao {
    width: 150px;
    margin: 10px auto;
}
.contents .down .erweima .sao img {
    display: inline-block;
    width: 39px;
    height: 40px;
    float: left;
    margin-right: 15px;
}
.contents .down .erweima .sao div{
    float: left;
    margin-top: 5px;
}
.contents .down .erweima .sao div p{
    font-size: 12px;
}
.contents .down .ziyouma {
    position: absolute;
    top: 55px;
    right: 125px;
    width: 185px;
    height: 173px;
}
.contents .down .orderDetail {
    position: absolute;
    top: -26px;
    right: 0;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #b3b3b5;
    padding: 5px 8px;
}