html {
    display: block;
}



body, html {
    color: #333;
    margin: 0;
    height: 100%;
    font-family: Myriad Set Pro,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}

body {
    background: #fff;
    color: #666;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}


.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px 15px 30px 15px;
    background: #fff;
}

img {
    border: 0;
}

.image-respone {
    width: auto;
    height: 40px;
}

.amount {
    color: #397fd9;
    font-size: 35px;
}

.warining-tips {
    color: red;
    font-size: 15px;
}

.spacer-bottom {
    text-align: center;
    margin-bottom: 15px;
}

.image-size {
    width: 150px;
    height: 150px;
}

.ticket_info {
    margin-top: 15px;
}

.spacer {
    margin-bottom: 15px;
    margin-top: 15px;
}

.el-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.el-button.is-round {
    border-radius: 20px;
    padding: 12px 23px;
}
.el-button--success {
    color: #fff;
    background-color: #67c23a;
    border-color: #67c23a;
}

.el-button--warning {
    color: #fff;
    background-color: #99cc33;
    border-color: #67c23a;
}