html {
	overflow-y: scroll;
}

body {
	background: #fff
		url()
		repeat-x 0 0;
}

ul, li, dl, dt, dd {
	list-style-type: none;
}

body, div, a, ul, li, h1, table {
	padding: 0;
	margin: auto;
	font-size: 12px;
	color: #555;
}

tabel {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img, img {
	border: 0
}

.logo_box {
	margin: 20px auto 20px auto;
	height: 40px;
	overflow: hidden;
	max-width: 750px;
}

.logo {
	float: left;
	width: 100px;
}

.logo img {
	max-height: 40px;
	width: auto;
}

.logo_help_link {
	float: right;
	padding: 5px 20px 0 0;
	line-height: 100%;
	height: 100%;
	color: #738197;
	text-align: right;
	font-size: 14px;
	color: #555;
}

.logo_help_link .amount_wrapper {
	padding: 20px 20px 0 20px;
	font-size: 14px;
}

.logo_help_link .amount_wrapper .amount {
	color: #FF4500;
}

.logo_help_link a {
	color: #999;
}

.clear {
	clear: both;
}

.main_content {
	margin: auto;
	max-width: 750px;
	padding: 10px;
	border: 1px solid #deecf9;
	background: #fcfdff;
}

.main_content h1 {
	padding: 5px 0;
	margin: 10px auto;
	width: 98%;
	border-bottom: 1px dashed #ccc;
	font-size: 14px;
	font-family: "微软雅黑";
}

.main_content h1.reason {
	padding: 5px 0;
	margin: 10px auto;
	width: 98%;
	border-style: none;
	font-size: 14px;
	font-family: "微软雅黑";
}

.main_content h1.order_status {
	padding: 5px 0;
	margin: 10px auto;
	width: 98%;
	border-style: none;
	font-size: 14px;
	font-family: "微软雅黑";
}


.main_content p {
	margin: 20px 0 40px;
	padding-left: 20px;
}

.footer a {
	color: #738197;
}