body,p {
    margin: 0;
    padding: 0
}

body {
    background: #efeff4;
    margin-top: 0;
    font-size: 14px
}

.logo-bottom {
    background-image: url(../images/phone/logo_bottom.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 120px;
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 15px
}

.dn {
    display: none
}

.content {
    z-index: 0
}

input {
    outline: 0;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent
}

.item-pan {
    height: 42px
}

.item-pan p {
    padding-top: 4px;
    height: 42px
}

.inner-label-input {
    margin: 0;
    height: 48px;
    line-height: 48px;
    background: #fff;
    position: relative
}

.inner-label-input .inner-label {
    position: absolute;
    margin-left: 15px;
    width: 70px
}

.inner-label-input .up-input {
    width: 70%;
    margin-left: 80px
}

.inner-label-input-display {
    margin: 0;
    height: 38px;
    line-height: 38px;
    background: #fff;
    position: relative
}

.inner-label-input-display .inner-label {
    position: absolute;
    margin-left: 15px;
    width: 70px
}

.inner-label-input-display .up-input {
    width: 70%;
    margin-left: 80px
}

.up-input.disabled {
    background: #fff
}

.main-container {
    padding: 0
}

.top_logo {
    width: 103px;
    height: 27px;
    -webkit-background-size: 102px,26px;
    background-size: 102px,26px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 9px;
    left: 5px
}

.overlay {
    background: rgba(85,85,85,0.66);
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.hide {
    display: none
}

.popup-block-single,.popup-block {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0,0,0,0.5)
}

.confirm-block {
    width: 84%;
    height: 150px;
    margin: auto;
    position: absolute;
    bottom: 0;
    background: #fff;
    z-index: 100;
    left: 0;
    right: 0;
    top: 15%;
    text-align: center;
    border-radius: 11px;
    overflow: hidden
}

.popup-block-single .hint,.popup-block .hint {
    margin: 17px;
    font-size: 12px
}

.popup-block-single .hintTitle,.popup-block .hintTitle {
    font-size: 16px;
    font-weight: bold;
    margin: 14px
}

.btn-group {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #999
}

.order-list-wrapper {
    margin: 0;
    font-size: 12px
}

.order-status {
    background: #f9fbfc;
    border-top: 1px dashed #999;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    text-align: center;
    font-family: "Microsoft Yahei"
}

.order-status.success {
    color: #0c7f7a
}

.order-status.failed {
    color: #ff4141
}

.order-list-wrapper .order-list-block {
    padding: 0;
    background: #f9fbfc;
    border-bottom: 0
}

.order-list-block-xl {
    width: 18px;
    height: 12px;
    background: no-repeat;
    position: absolute;
    right: 15px;
    margin-top: -30px;
    z-index: 333;
    cursor: pointer
}

.order-list-block-down {
    width: 18px;
    height: 12px;
    background: url(../images/phone/bank_jt02.png) no-repeat;
    position: absolute;
    right: 15px;
    margin-top: -30px;
    z-index: 333;
    cursor: pointer
}

.btn-show-order {
    height: 1px;
    text-align: center;
    border-top: 1px solid #d3d3d3
}

.btn-show-order-dash {
    width: 98%;
    margin: auto;
    height: 1px
}

.order-list {
    background-color: #fff;
    padding: 15px 0 5px 0
}

.order-list .order-item {
    margin-left: 15px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    color: #666;
    padding-bottom: 10px
}

.order-item.tips {
    color: #0c7f7a;
    border-bottom: 1px dashed #999;
    margin: 0 0 20px 8px
}

.order-item.tips p {
    margin-bottom: 10px
}

.order-item label {
    color: #333
}

.order-item span {
    color: #666
}

.order-item label:after {
    content: "："
}

.fl {
    float: left
}

.fr {
    float: right
}

.header {
    width: 100%;
    background: #5ca3da;
    background-image: -webkit-linear-gradient(#5ca3da,#5ca3da);
    font-family: "Microsoft Yahei"
}

.header_red {
    width: 100%;
    background: red;
    background-image: -webkit-linear-gradient(red,red);
    font-family: "Microsoft Yahei"
}

.header .title {
    line-height: 44px;
    height: 44px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    width: 99%;
    background-size: 102px,26px;
    -webkit-background-size: 102px,26px;
    -o-background-size: 102px,26px;
    -moz-background-size: 102px,26px;
    background-position: center right 5px
}

.header .title_android {
    line-height: 44px;
    height: 44px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    width: 99%
}

.label-input {
    width: 100%;
    float: left;
    margin: 8px 0
}

.fastpay-label-input {
    width: 100%;
    float: left;
    margin: 0
}

.up-label {
    padding-left: 15px;
    color: #333
}

.up-input {
    width: 85%;
    color: #666;
    margin-left: 15px;
    -webkit-appearance: none;
    border: 0;
    font-size: 14px;
    top: 16px;
    display: inline;
    position: absolute
}

.bank-list {
    font-size: 12px;
    margin-left: 6px;
    float: right
}

.bank-list a {
    color: #0c4799
}

.btn-wrapper {
    margin: 8px auto;
    width: 95%;
    cursor: pointer
}

.btn-wrapper a {
    text-decoration: none;
    font-size: 1.4em
}

.btn_red {
    background-image: -webkit-linear-gradient(red,red);
    color: #fff;
    border: 1px solid red;
    background-color: red
}

.up-btn {
    height: 42px;
    text-align: center;
    line-height: 42px;
    border-radius: 5px
}

.up-btn.next {
    background-image: -webkit-linear-gradient(#5ca3da,#5ca3da);
    color: #fff;
    border: 1px solid #5ca3da;
    background-color: #5ca3da
}

.up-btn.cancel {
    background-image: -webkit-linear-gradient(#5ca3da,#5ca3da);
    color: #fff;
    border: 1px solid #5ca3da;
    background-color: #5ca3da
}

.up-btn.next a {
    color: #fff;
    display: block;
    font-size: 1.4em
}

.up-btn.update-mobile {
    cursor: pointer;
    color: #666;
    width: 25%;
    height: 30px;
    line-height: 30px;
    margin-top: 2px
}

.up-btn.sms,.up-btn.checkcode {
    color: #5ca3da;
    width: 25%;
    height: 30px;
    line-height: 30px;
    margin-top: 2px;
    cursor: pointer
}

.up-btn.smsDisable {
    color: #999;
    box-shadow: none;
    width: 25%;
    margin-top: 2px;
    height: 30px;
    line-height: 30px
}

.up-btn.disable {
    background-image: -webkit-linear-gradient(#d3d3d3,#d3d3d3)!important;
    box-shadow: none;
    border: 1px solid #d3d3d3!important;
    color: #d3d3d3;
    background-color: #d3d3d3!important
}

.up-btn.merchantCtrDisable {
    background-image: -webkit-linear-gradient(#d3d3d3,#d3d3d3);
    box-shadow: none;
    border: 1px solid #d3d3d3;
    color: #d3d3d3;
    background-color: #d3d3d3
}

.up-btn.merchantCtrDisable a {
    color: #fff;
    font-size: 1.4em
}

.black {
    color: #333!important
}

.up-btn.disable a {
    color: #fff;
    font-size: 1.4em
}

.up-btn.popup-right {
    background-image: -webkit-linear-gradient(#f5f5f5,#dedede);
    border: 0;
    border-radius: 0;
    color: #fff;
    height: 53px;
    line-height: 53px;
    width: 100%;
    box-shadow: none;
    background-color: #0c7f7a
}

.up-btn.popup-right a,.up-btn.popup-right a:active,.up-btn.popup-right a:link {
    color: #0c4799;
    text-decoration: none;
    cursor: pointer
}

.grey {
    color: #999
}

.up-btn.popup-left {
    background-image: -webkit-linear-gradient(#f5f5f5,#dedede);
    border: 0;
    border-radius: 0;
    color: #0c4799;
    height: 53px;
    line-height: 53px;
    width: 50%;
    box-shadow: none;
    margin-left: -1px;
    border-right: 1px solid #999;
    display: none
}

.up-btn.popup-left a,.up-btn.popup-left a:active,.up-btn.popup-left a:link {
    color: #0c4799;
    text-decoration: none;
    cursor: pointer
}

.up-btn.popup-left a:act {
    color: #0c4799
}

.op {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 6.5px;
    right: 13px;
    cursor: pointer
}

.op img {
    width: 100%
}

.text-input {
    color: #0c4799
}

.text-input p {
    margin-bottom: 13px;
    margin-left: 6px
}

.order-top-img {
    margin: 0 6px;
    position: absolute;
    top: -13px;
    left: -6px;
    right: -6px;
    height: 13px;
    background: url(../images/phone/02.png) repeat-x 0 0
}

.loading-block {
    z-index: 9999
}

.loading-block p {
    position: absolute;
    top: 45%;
    color: #fff;
    z-index: 9999;
    left: 0;
    right: 0;
    text-align: center
}

.logobg {
    position: absolute;
    background: url("../images/phone/load_logo.png") no-repeat;
    width: 150px;
    height: 39px;
    text-align: center;
    left: 26%
}

.quan {
    -webkit-animation: auto-circle 1s linear infinite;
    position: absolute;
    background: url("../images/phone/loading.png") no-repeat;
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    left: 26%
}

@-webkit-keyframes auto-circle {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

.toast {
    position: absolute;
    top: 43px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    background: rgba(255,29,29,0.75);
    line-height: 30px;
    padding: 0 5px;
    z-index: 3000
}

.instalment_toast {
    background: #fbebb8;
    color: #666
}

.toast.screen {
    position: fixed;
    top: 0
}

.select-wrapper {
    height: 38px;
    line-height: 38px;
    background: #fff;
    position: relative;
    padding-left: 15px;
    margin-top: 5px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3
}

.select-wrapper .select-area {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 37px;
    background: url("../images/phone/bank_jt_left.png") no-repeat 9px 9px;
    cursor: pointer
}

.select-wrapper .pan {
    color: #666
}

.select-wrapper .dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 39px;
    background: #fff;
    border: 1px solid #d3d3d3;
    padding-left: 6px;
    z-index: 9999
}

.welcome {
    color: #333
}

.lt-order-bg {
    position: absolute;
    left: 0;
    top: 59px;
    background: url(../images/phone/01.png) no-repeat 4px 0;
    width: 14px;
    height: 14px
}

.rt-order-bg {
    position: absolute;
    right: 0;
    top: 59px;
    background: url(../images/phone/01.png) no-repeat 0 -14px;
    width: 14px;
    height: 14px
}

.order-status {
    color: #b90e14
}

.arrow {
    background: url(../images/phone/arrow.png) no-repeat 97%
}

#slider-wrapper {
    width: 100%;
    height: 470px;
    position: relative
}

.overflow-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: hidden;
    z-index: 1;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.contentPop {
    z-index: 10000;
    display: none;
    width: 100%;
    height: 160%;
    margin: 0;
    position: absolute;
    background-color: #fff;
    left: 0;
    background-image: -webkit-linear-gradient(#fff,#fff)
}

.contentPopCSS3 {
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: all 0s ease-in-out;
    transition-delay: 0s;
    top: 0
}

.cardListPop {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei","simsun",Arial,Helvetica,sans-serif;
    background: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none
}

.cardListPop ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.cardListPop ul#card-bar {
    border-bottom: #81929f solid 1px;
    padding: 1em 0;
    margin: 0;
    clear: both;
    overflow: hidden;
    background: #a3b4be;
    background: -webkit-linear-gradient(#a3b4be,#b5c0c7);
    background: -moz-linear-gradient(#a3b4be,#b5c0c7);
    background: -ms-linear-gradient(#a3b4be,#b5c0c7);
    background: -o-linear-gradient(#a3b4be,#b5c0c7);
    background: linear-gradient(#a3b4be,#b5c0c7)
}

.cardListPop #card-bar li {
    color: #fff
}

.cardListPop .col1,.col2,.col3,.col4 {
    float: left;
    text-align: center
}

.cardListPop .col1 {
    width: 50%
}

.cardListPop .col2 {
    width: 50%
}

.cardListPop .col3 {
    width: 18%
}

.cardListPop .col4 {
    width: 18%
}

.cardListPop ul#bank-list {
    font-size: 1.0em;
    line-height: 2.7em
}

.cardListPop #bank-list li {
    border-bottom: 1px solid #ebebeb;
    clear: both
}

.cardListPop .gototop {
    height: 40px;
    width: 40px;
    background: url(../images/phone/indicator.png) no-repeat center #e9e9e9;
    display: none;
    position: fixed;
    right: 10px;
    bottom: 100px;
    border-radius: 10px;
    border: 1px solid #e9e9e9
}

.cardListPop .banklist-search {
    border-bottom: #81929f solid 1px;
    padding: 0;
    margin: 0;
    height: 40px;
    text-align: center;
    clear: both;
    overflow: hidden;
    background: #a3b4be;
    background: -webkit-linear-gradient(#a3b4be,#b5c0c7);
    background: -moz-linear-gradient(#a3b4be,#b5c0c7);
    background: -ms-linear-gradient(#a3b4be,#b5c0c7);
    background: -o-linear-gradient(#a3b4be,#b5c0c7);
    background: linear-gradient(#a3b4be,#b5c0c7)
}

.cardListPop .banklist-search-text {
    border-radius: 6px;
    border: 1px solid #6d7e91;
    height: 70%;
    width: 98%;
    clear: both;
    MARGIN-RIGHT: auto;
    MARGIN-LEFT: auto;
    MARGIN-top: 4px;
    box-shadow: 0 0 0 1px #d8dce3
}

.cardListPop .checkbox {
    display: inline-block;
    height: 1em;
    width: 1em;
    position: relative
}

.cardListPop .checkbox.checked:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: .2em;
    font-weight: 700;
    width: 14px;
    height: 10px;
    color: #008aff;
    background: url(../images/phone/bank_g.png) no-repeat
}

.cardListPop .close {
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.5);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999
}

.cardListPop .btn-close {
    background-image: -webkit-linear-gradient(#5ca3da,#5ca3da);
    color: #fff;
    border: 1px solid #5ca3da;
    background-color: #5ca3da;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #999 inset
}

.cardListPop .btn-wrapper {
    margin: 15px 10% 15px 10%;
    float: left;
    width: 80%;
    cursor: pointer
}

.cardListPop .btn-wrapper a {
    text-decoration: none;
    font-size: 1.4em
}

.userAgreement {
    background: #fff;
    font: 12px normal Arial #444;
    line-height: 18px;
    edui-filter-align-center margin: 10px;
    padding-bottom: 100px
}

.userAgreement #box {
    width: 100%;
    margin: 0 auto
}

.userAgreement p {
    font-size: 18px;
    color: #666
}

.userAgreement .green {
    color: #000;
    font-size: 20px;
    font-weight: bold
}

.userAgreement .close {
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.5);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999
}

.userAgreement .btn-close {
    background-image: -webkit-linear-gradient(#5ca3da,#5ca3da);
    color: #fff;
    border: 1px solid #5ca3da;
    background-color: #5ca3da;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #999 inset
}

.userAgreement .btn-wrapper {
    margin: 15px 10% 15px 10%;
    float: left;
    width: 80%;
    cursor: pointer
}

.userAgreement .btn-wrapper a {
    text-decoration: none
}

.accountHelp {
    background: #fff;
    font: 12px normal Arial #444;
    line-height: 18px;
    edui-filter-align-center margin: 10px
}

.accountHelp #box {
    width: 100%;
    height: 100%;
    margin: 0 auto
}

.accountHelp p {
    font-size: 16px;
    font-weight: bold
}

.accountHelp .green {
    color: #007583;
    font-size: 22px
}

.accountHelp .red {
    color: #c40712
}

.accountHelp .close {
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.5);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999
}

.accountHelp .btn-close {
    background-image: -webkit-linear-gradient(#5ca3da,#5ca3da);
    color: #fff;
    border: 1px solid #5ca3da;
    background-color: #5ca3da;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #999 inset
}

.accountHelp .btn-wrapper {
    margin: 15px 10% 15px 10%;
    float: left;
    width: 80%;
    cursor: pointer
}

.accountHelp .btn-wrapper a {
    text-decoration: none
}

.instalment_count {
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
    color: #333
}

.instalment_button {
    float: right;
    width: 47px;
    height: 20px;
    margin-top: 7px;
    border-radius: 5px;
    padding: 2px
}

.instalment_button span {
    width: 25px;
    height: 20px;
    background: #fff;
    display: block;
    border-radius: 5px;
    float: right;
    text-indent: -9999px
}

#instalment-rule a {
    color: #5ca3da;
    line-height: 40px;
    font-size: 14px;
    text-decoration: none;
    margin-right: 15px
}

.instalment_info {
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
    color: #333
}

#instalment-item-info span {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    width: 94%;
    float: left
}

.fq_close {
    width: 35px;
    height: 35px;
    margin: -17px 10px 0 0;
    float: right;
    cursor: pointer
}

.instalmentRule {
    background: #efeff4;
    font: 12px normal Arial #444;
    line-height: 18px;
    edui-filter-align-center margin: 10px
}

.instalmentRule #box {
    width: 100%;
    height: 100%;
    margin: 0 auto
}

.instalmentRule p {
    font-size: 16px;
    font-weight: bold
}

.instalmentRule .green {
    color: #007583;
    font-size: 22px
}

.instalmentRule .red {
    color: #c40712
}

.instalmentRule .close {
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.5);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999
}

.instalmentRule .btn-close {
    background-image: -webkit-linear-gradient(#5ca3da,#5ca3da);
    color: #fff;
    border: 1px solid #5ca3da;
    background-color: #5ca3da;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #999 inset
}

.instalmentRule .btn-wrapper {
    margin: 15px 10% 15px 10%;
    float: left;
    width: 80%;
    cursor: pointer
}

.instalmentRule .btn-wrapper a {
    text-decoration: none
}

.instalmentRule {
    position: relative;
    z-index: 9999
}

.instalmentRule .fenqi_info {
    position: absolute;
    color: #6c6368;
    line-height: 30px;
    padding: 10px;
    width: 80%;
    margin-left: 10px;
    margin-right: auto
}

.instalmentRule .fenqi_info span {
    position: absolute;
    width: 6px;
    height: 10px;
    left: -6px;
    top: 8px;
    display: inline-block
}

.instalmentRule h2 {
    margin-right: 5px;
    color: #000;
    margin-bottom: 3px
}

.instalmentRule font {
    color: #ff6f00
}

.instalmentRule div {
    margin: 2px 0
}

.instalmentRule ul,.instalmentRule li {
    list-style: none
}

.instalmentRule .fenqi_info .fenqi_tab {
    border-collapse: collapse;
    border: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%
}

.fenqi .fenqi_info .fenqi_tab tr,.fenqi .fenqi_info .fenqi_tab td {
    border: solid #000 1px;
    text-align: center
}

#upopNoticeInfo {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    text-align: left;
    color: #666;
    letter-spacing: 1px;
    padding-left: 0;
    padding-right: 20px;
    background: #fbebb8;
    line-height: 30px;
    z-index: 1000
}

#upopNoticeInfo span {
    width: 40px;
    font-size: 14px;
    float: left;
    text-indent: 10px;
    text-align: center;
    margin-top: 0
}

#upopNoticeInfo p {
    width: 90%;
    margin-left: 40px;
    font-family: "microsoft yahe"
}

#restrictPayInfo a {
    cursor: pointer;
    color: #5999bb
}

#restrictPayInfo p {
    position: absolute;
    top: 49px;
    left: 0;
    right: 0;
    text-align: left;
    text-indent: 15px;
    padding-right: 20px;
    color: #000;
    background: #f4ca7f;
    line-height: 30px;
    z-index: 1000
}

.merchant_ctrl_white {
    font-size: 14px;
    color: #000;
    line-height: 24px;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 10px;
    background: #fffdca;
    border: 1px solid #f5d099;
    border-color: #f5d099 #f5d099 #f5d099 #f5d099;
    text-indent: 6px;
    padding-left: 6px;
    padding-right: 6px
}

#reopenCard {
    color: #0c4799;
    text-decoration: underline;
    cursor: pointer
}

.reopenCard {
    color: #0c4799;
    text-decoration: underline;
    cursor: pointer
}

.backfontcolor {
    font: -webkit-small-control;
    color: initial;
    margin-top: 8px
}

.up-password {
    margin-top: 0;
    height: 36px;
    line-height: 36px;
    color: #999;
    -webkit-appearance: none;
    border: 0;
    font-size: 14px;
    width: 70%;
    margin-left: 60pt
}

.down-password {
    width: 85%;
    color: #666;
    margin-left: 6px;
    -webkit-appearance: none;
    border: 0;
    font-size: 14px;
    width: 70%;
    margin-left: 60pt
}

.keyboard-div1 {
    height: 44px;
    width: 33%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    color: #dedfe2;
    background-color: #2d2d2d;
    display: inline-block;
    border: 1px solid #535353;
    float: left;
    left: 3px;
    font-size: 1.6em;
    border-top-width: 0
}

.keyboard-div2 {
    height: 44px;
    width: 33%;
    padding: 0;
    margin-left: -1px;
    margin-right: 0;
    color: #dedfe2;
    background-color: #2d2d2d;
    display: inline-block;
    border: 1px solid #535353;
    float: left;
    font-size: 1.6em;
    border-top-width: 0
}

.keyboard-div3 {
    height: 44px;
    width: 33.7%;
    padding: 0;
    margin-left: -10px;
    margin-right: 0;
    color: #dedfe2;
    background-color: #2d2d2d;
    display: inline-block;
    border: 1px solid #535353;
    float: right;
    right: 3px;
    font-size: 1.6em;
    border-top-width: 0
}

.keyboard-cp {
    height: 44px;
    width: 33%;
    padding: 0;
    margin-left: 0;
    color: #5ca3da;
    background-color: #2d2d2d;
    display: inline-block;
    border: 1px solid #535353;
    float: left;
    border-top-width: 0
}

.keyboard-bk {
    height: 44px;
    width: 33.7%;
    margin-left: -5px;
    margin-top: 0;
    padding: 0;
    color: #373737;
    background: url(../images/phone/x1.png) no-repeat 50% 14px;
    background-color: #2d2d2d;
    display: inline-block;
    line-height: 44px;
    font-size: 10px;
    border: 1px solid #535353;
    float: right;
    border-top-width: 0
}

.keyboard-title {
    height: 39px;
    width: 100%;
    line-height: 39px;
    background: #2d2d2d;
    border-bottom: 1px solid #535353
}

.keyboard-title img {
    line-height: 39px;
    text-align: center;
    height: 30px;
    margin-top: 5px
}

.inner-label-keyboard {
    float: left;
    width: 100%
}

.keyboard-container-inner {
    position: absolute;
    width: 100%
}

.keyboard-container {
    background-image: -webkit-linear-gradient(#2468cb,#1b55a7);
    background: url(../images/phone/bg.png) repeat-x 0 0;
    -webkit-background-size: 100% 49px;
    margin: 8px 0;
    height: 220px;
    background-color: #3c3c3c;
    font-size: 18px;
    text-align: center;
    font-family: "Microsoft Yahei";
    position: absolute;
    z-index: 100000;
    line-height: 44px;
    width: 100%;
    bottom: 0;
    margin-bottom: 0
}

.pass-clear {
    float: left;
    width: 100%;
    position: relative;
    margin: 8px 0;
    height: 170px
}

.clear-keybord {
    height: 300px
}

.keybord-div {
    margin: 0 auto;
    position: fixed;
    width: 100%;
    height: 223px;
    z-index: 10501;
    display: block;
    bottom: 0;
    transition: all .3s;
    -webkit-transition: all .3s
}

.inner-label-appdownload {
    float: left;
    width: 100%
}

.appdownload-container-inner {
    position: absolute;
    width: 100%
}

.appdownload-container {
    -webkit-background-size: 100% 49px;
    margin: 8px 0;
    height: 70px;
    background-color: #3c3c3c;
    font-size: 18px;
    text-align: center;
    font-family: "Microsoft Yahei";
    position: absolute;
    z-index: 111111;
    line-height: 44px;
    width: 100%;
    bottom: 0;
    margin-bottom: 0
}

.appdownload-row {
    height: 80%
}

.appdownload-div1 {
    height: 52px;
    width: 24%;
    padding-top: 0;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    color: #dedfe2;
    display: inline-block;
    border-right: 1px solid #999;
    float: left;
    left: 3px;
    font-size: 1.6em;
    border-top-width: 0
}

.appdownload-title {
    height: 52px;
    background: url(../images/phone/unionpay_logo.png) no-repeat;
    background-size: 52px,52px;
    -webkit-background-size: 52px,52px;
    -o-background-size: 52px,52px;
    -moz-background-size: 52px,52px;
    background-position: center
}

.appdownload-div2 {
    height: 52px;
    width: 74%;
    padding: 0;
    margin-top: 10px;
    margin-left: 1px;
    margin-right: 0;
    color: #dedfe2;
    display: inline-block;
    float: left;
    font-size: 1.6em;
    border-top-width: 0
}

.appdownload-down {
    background-image: -webkit-linear-gradient(#5ca3da,#5ca3da);
    color: #fff;
    border: 1px solid #5ca3da;
    background-color: #5ca3da;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 5px;
    font-size: .5em;
    box-shadow: 0 0 5px 0 #999 inset;
    display: inline-block;
    width: 80px;
    margin-right: 30px
}

.appdownload-moment {
    font-size: .5em;
    color: #5ca3da;
    display: inline-block;
    height: 26px;
    line-height: 26px
}

.appdownload-tips {
    line-height: 10px;
    font-size: .45em
}

.pay_success {
    background: #fff;
    padding: 13px 0 12px 16px;
    margin-left: -10px;
    position: relative;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #d3d3d3
}

.pay_img {
    height: 50px;
    width: 50px;
    background: url("../images/phone/result_success.png") left top no-repeat;
    background-size: 40px;
    display: inline-block;
    vertical-align: middle
}

.error_result {
    height: 50px;
    width: 50px;
    background: url("../images/phone/err.png") left top no-repeat;
    background-size: 40px;
    display: inline-block;
    vertical-align: middle
}

.pay_img_div {
    width: 95%;
    height: auto;
    margin: auto;
    font-size: 1.4em;
    text-align: left;
    line-height: 40px
}

.pay_success label {
    color: #fd703d
}

.pay_success p {
    font-size: 12px;
    font-family: "Microsoft Yahei";
    color: #999;
    line-height: 20px;
    margin: 5px 0 0 55px;
    text-align: left;
    width: 60%
}

.clearfix {
    clear: both
}

.active_list {
    padding-top: 15px
}

.active_tip {
    color: #fd703d;
    font-size: 14px;
    margin-left: 15px
}

.active_list ul {
    background: #fff;
    position: relative
}

.active_list li {
    list-style-type: none;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #d3d3d3;
    font-size: 18px;
    text-indent: 15px;
    font-family: Microsoft Yahei
}

.right_arrow {
    background: url(../images/phone/right_arrow.png) no-repeat 97%
}

.result_form {
    display: block;
    position: relative
}

.right_arrow a {
    color: #000;
    text-decoration: none
}

.discount-active {
    vertical-align: middle;
    line-height: 40px
}

.discount-add {
    margin-left: 5px;
    font-size: 14px;
    color: #000
}

.discount_green {
    margin-left: 5px;
    font-size: 14px;
    color: #393
}

.discount_pay_one {
    right: 90px;
    color: #333
}

.discount_pay_two {
    right: 40px;
    color: #ec4e05
}

.discount_pay_three {
    right: 15px;
    color: #333
}

.discount_spacing {
    padding-top: 0
}

.discount_error_prompt {
    color: #fc0202;
    font-size: 12px
}

.discount_btn {
    top: 98px
}

.discount_selectbox_outer {
    top: 153px
}

.discount-select-list {
    height: 24px
}

.discount_div {
    height: auto;
    line-height: 40px
}

.discount_img1 {
    vertical-align: middle
}

* {
    margin: 0;
    list-style: none;
    padding: 0;
    font-family: "Microsoft Yahei"!important
}

.p_width {
    width: 100%
}

.bank_list_size {
    height: 40px
}

.bank_list_style {
    background: #5ca3da;
    line-height: 40px;
    color: #fff;
    text-align: center;
    font-family: Microsoft YaHei;
    text-indent: 70px
}

.bank_search_size {
    height: 35px;
    background: #f0f0f0;
    font-family: Microsoft YaHei
}

.bank_search_k {
    width: 94%;
    height: 32px
}

.bank_search {
    width: 100%;
    height: 32px;
    font-size: 14px;
    margin-top: 8px;
    background: #e4e4e4;
    border: 0;
    border-radius: 4px;
    text-indent: 30px;
    border-top-width: 2px;
    color: #666;
    posotion: relative
}

.bank_search_ico {
    width: 16px;
    height: 16px;
    background: url(../images/phone/search.png) no-repeat;
    z-index: 199;
    position: absolute;
    margin-top: -22px;
    margin-left: 5px
}

.ly-list-k {
    width: 100%;
    height: 35px;
    background: #f0f0f0
}

.ly-list {
    width: 90%;
    height: 35px;
    margin: auto
}

.ly-list-ul {
    width: 90%;
    height: auto;
    margin: 0 auto!important
}

.ly-list-ul li {
    width: 100%;
    height: 35px;
    margin: auto;
    border-bottom: 1px solid #f4f4f4;
    font-family: Microsoft YaHei
}

.yl-n {
    width: 50%;
    height: 35px;
    text-align: left;
    line-height: 35px;
    float: left;
    color: #333;
    overflow: hidden;
    font-family: Microsoft YaHei
}

.yl-x {
    width: 20%;
    height: 35px;
    text-align: center;
    line-height: 35px;
    float: left;
    margin-left: 10%;
    color: #333;
    font-family: Microsoft YaHei
}

.yl-j {
    width: 20%;
    height: 35px;
    text-align: center;
    line-height: 35px;
    float: right;
    color: #333;
    font-family: Microsoft YaHei
}

.input-wrapper_txt {
    color: #000;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    text-indent: 15px
}

.label-input-k {
    height: 40px;
    width: 100%;
    background: #efeff4
}

.gray-solid-line {
    height: 1px;
    border-top: 1px solid #d3d3d3
}

.gray-solid-line-98 {
    border-top: 1px solid #d3d3d3;
    height: 1px;
    width: 96.5%;
    margin: auto;
    margin-left: 14px
}

.login-label {
    color: #333;
    font-size: 14px;
    line-height: 40px;
    float: left;
    text-indent: 15px
}

#bank-list a {
    color: #5ca3da;
    line-height: 40px;
    font-size: 14px;
    text-decoration: none;
    margin-right: 15px
}

.new-input-wrapper {
    margin: 0;
    height: 38px;
    line-height: 38px;
    background: #fff;
    position: relative
}

.cardIndex-inner-label-input {
    float: left;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #d3d3d3
}

.cardIndex-inner-label-input .inner-label {
    position: absolute;
    margin-left: 15px;
    width: 70px
}

.cardIndex-inner-label-input .up-input {
    width: 70%;
    margin-left: 80px
}

.cardIndex-link-wrapper {
    margin: 8px 0;
    height: 38px;
    line-height: 38px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    background-color: #fff;
    position: relative
}

.new-text-input p {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 15px
}

.restrictPayResultTips {
    width: 98%;
    margin: auto;
    background-color: #d3d3d3;
    background-image: -webkit-linear-gradient(#d3d3d3,#d3d3d3);
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 5px 0 5px 0
}

.preAuth {
    width: 15px;
    height: auto;
    background-color: #00c5ff;
    margin-top: 5px;
    color: #fff;
    margin-left: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    z-index: 5000;
    line-height: 1;
    border-radius: 4px
}

.reopenCard57 {
    color: #0c4799;
    text-decoration: underline;
    cursor: pointer
}

.pos_notify {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    text-align: left;
    color: #666;
    letter-spacing: 1px;
    padding-left: 0;
    padding-right: 20px;
    background: #fbebb8;
    line-height: 30px;
    z-index: 1000;
    display: black!Important
}

.pos_notify span {
    font-weight: bold;
    margin-top: -3px
}

.pos_notify div {
    display: inline
}

.pos_notify div a {
    color: #666;
    font-family: "microsoft yahe";
    width: 90%;
    display: block;
    margin-left: 40px
}

.pos_notify span {
    width: 40px;
    font-size: 14px;
    float: left;
    text-indent: 10px;
    text-align: center;
    font-weight: bold
}

.error_msg {
    margin-top: 3px;
    margin-left: 13px;
    text-indent: 20px;
    color: #df3234;
    background: url(../images/phone/fail_16px.gif) no-repeat left 1px;
    line-height: 18px
}

.new_error_msg {
    width: 100%;
    height: auto;
    margin-top: -1px;
    background: #ff8f8f;
    display: none;
    position: relative;
    padding: 10px 0 10px 0
}

.new_error_msg span {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ff8f8f;
    position: absolute;
    left: 20px;
    top: -6px
}

.new_error_msg div {
    width: 97.5%;
    margin: 0 auto;
    color: #fff;
    font-family: "microsoft yahe";
    line-height: 25px;
    letter-spacing: 1px
}

.new_error_msg a {
    color: #73add5;
    font-family: "microsoft yahe";
    color: #fff;
    cursor: pointer
}

.new_yellow_msg {
    width: 100%;
    height: auto;
    margin-top: -1px;
    background: #fbebb8;
    display: none;
    position: relative;
    padding: 10px 0 10px 0
}

.new_yellow_msg span {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fbebb8;
    position: absolute;
    left: 20px;
    top: -6px
}

.new_yellow_msg div {
    width: 97.5%%;
    margin: 0 auto;
    color: #666;
    font-family: "microsoft yahe";
    line-height: 25px;
    letter-spacing: 1px
}

.new_yellow_msg a {
    color: #73add5;
    font-family: "microsoft yahe";
    color: #5999bb;
    cursor: pointer
}

.echo_bank {
    display: none
}

.k-bank-list {
    height: 100%;
    width: 100%;
    z-index: 5000;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    filter: alpha(opacity=50);
    opacity: .5
}

.k-bank-style {
    background: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 5001
}

.k-bank-style h4 {
    line-height: 45px;
    text-indent: 15px;
    font-weight: normal;
    color: #333;
    font-family: "microsoft yahei";
    font-size: 14px
}

.k-bank-date {
    height: 45px;
    border-top: 1px solid #ececec;
    line-height: 45px;
    padding-left: 15px;
    color: #666;
    font-family: "microsoft yahe;"
}

.k-bank-date .on {
    background: url("../images/phone/select-img.png") no-repeat
}

.k-bank-date span {
    height: 11px;
    width: 14px;
    display: inline-block;
    margin-right: 10px
}

.k-bank-date .back {
    width: 12px;
    height: 18px;
    background: url("../images/phone/bank_jt_left.png") no-repeat;
    float: right;
    margin-top: 16px
}

.k-bank-other {
    height: 45px;
    border-top: 1px solid #ececec;
    line-height: 45px;
    padding-left: 15px;
    color: #666;
    font-family: "microsoft yahe;"
}

.k-bank-other .on {
    background: url("../images/phone/select-img.png") no-repeat
}

.k-bank-other span {
    height: 11px;
    width: 14px;
    display: inline-block;
    margin-right: 10px
}

.k-bank-other .back {
    width: 12px;
    height: 18px;
    background: url("../images/phone/bank_jt_left.png") no-repeat;
    float: right;
    margin-top: 16px
}

.cardIndex-link-wrapper .back {
    width: 12px;
    height: 18px;
    background: url("../images/phone/bank_jt_left.png") no-repeat;
    float: right;
    margin-top: 10px;
    margin-right: 15px
}

.discount_info {
    width: 100%;
    height: auto;
    background: #fff;
    margin-top: 13px;
    overflow: hidden
}

.discount_count {
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    font-size: 1.15em;
    color: #333
}

.discount_button {
    float: right;
    width: 47px;
    height: 25px;
    margin-top: 7px;
    border-radius: 5px;
    padding: 2px
}

.discount_button span {
    width: 25px;
    height: 25px;
    background: #fff;
    display: block;
    border-radius: 5px;
    float: right;
    text-indent: -9999px
}

.discount_button_open {
    background: #5ca3da
}

.discount_button_close {
    background: #d5d5d5
}

* {
    margin: 0;
    list-style: none;
    padding: 0;
    font-family: "Microsoft Yahei"!important;
    list-style: none
}

.border_t_d3 {
    border-top: 1px solid #d3d3d3
}

.border_b_d3 {
    border-bottom: 1px solid #d3d3d3
}

.fkwz {
    color: #ff7676
}

.jt_left {
    width: 12px;
    height: 18px;
    background: url("../images/phone/bank_jt_left.png") no-repeat;
    float: right;
    margin-top: 13px
}

.h_bottom {
    background: #d3d3d3!important
}

.yh_close {
    width: 35px;
    height: 35px;
    margin: -17px 10px 0 0;
    float: right;
    cursor: pointer
}

.tab_ul {
    height: 44px;
    padding-left: 15px
}

.tab_ul ul {
    width: auto;
    height: 44px;
    line-height: 44px;
    display: inline
}

.tab_ul ul li {
    width: auto;
    height: 42px;
    font-size: 1.15em;
    float: left;
    margin-right: 18px;
    display: inline;
    padding: 0 4px;
    border-bottom: 2px solid #FFF
}

.tab_ul_hover {
    border-bottom: 2px solid #00b4ab!important;
    color: #00b4ab!important
}

.tab_list {
    width: 100%;
    height: 280px;
    overflow: scroll;
    background: #efeff4;
    display: none;
    padding-bottom: 12px
}

.mj_ul {
    padding-left: 15px;
    height: auto
}

.yh_select {
    width: 20px;
    height: 20px;
    float: right;
    margin: 10px -15px 0 0;
    background: url("../images/phone/check_2.png") no-repeat
}

.yh_select_yes {
    background: url("../images/phone/check_1.png") no-repeat!important
}

.mj_ul li {
    line-height: 42px;
    border-bottom: 1px solid #d3d3d3;
    font-size: 1.15em;
    color: #666;
    padding-right: 36px
}

.tab_list h1 {
    height: 316px;
    line-height: 316px;
    text-align: center;
    color: #999;
    font-weight: normal;
    font-size: 1.2em
}

.yh_login {
    height: auto;
    width: 100%;
    background: #efeff4
}

.yh_login p {
    padding-top: 105px;
    font-size: 1.2em;
    color: #666;
    text-align: center;
    padding: 105px 0 25px 0
}

.yh_login span {
    width: 144px;
    height: 44px;
    background: #5ca3da;
    margin: auto;
    display: block;
    text-align: center;
    line-height: 44px;
    font-size: 1.12em;
    color: #fff;
    margin-bottom: 105px;
    border-radius: 3px
}

.ljq_count {
    padding: 15px 15px;
    background: #efeff4
}

.ljq_button {
    height: 44px;
    width: 100%;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    color: #666;
    font-size: 1.2em;
    background: #fff;
    line-height: 42px;
    text-indent: 10px;
    position: relative
}

.ljq_span {
    right: 15px;
    top: 0;
    line-height: 44px;
    margin-right: 13px;
    color: #5ca3da;
    position: absolute;
    font-size: 1.2em;
    cursor: pointer
}

.ljq_action {
    height: 52px;
    width: 100%;
    background: #fff;
    padding-top: 8px
}

.ljq_action span {
    width: 90%;
    height: 44px;
    display: block;
    margin: 0 auto;
    background: #5ca3da;
    text-align: center;
    font-size: 1.2em;
    line-height: 44px;
    color: #fff;
    border-radius: 3px;
    transition: all .5s ease-in-out .2s
}

.ljq_button_no {
    border: 1px solid #efeff4;
    background: #efeff4
}

.ljq_p {
    font-size: 1.2em;
    color: #666;
    text-indent: 10px;
    display: none;
    transition: all .1s ease-in-out .5s
}

.echo {
    display: block;
    transition: all .1s ease-in-out .5s
}

#discount-item-info span {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    width: 94%;
    float: left
}

.discount-em-class {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    width: 94%;
    float: left
}

.cardIndex-link-wrapper-after {
    margin: -8px 0;
    height: 38px;
    line-height: 38px;
    border-top: 0 solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    background-color: #fff;
    position: relative
}

.cardIndex-link-wrapper-after .back {
    width: 12px;
    height: 18px;
    background: url("../images/phone/bank_jt_left.png") no-repeat;
    float: right;
    margin-top: 10px;
    margin-right: 15px
}

.instalment-staging {
    background: #fff;
    width: 86%;
    height: 520px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    z-index: 5001
}

.instalment-staging .staging_title {
    height: 40px;
    width: 100%;
    color: #333;
    font-size: 1.2em;
    font-family: "microsoft yahei";
    background: #f0f0f4;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 10px 10px 0 0
}

.instalment-tab_list {
    width: 100%;
    height: 520px;
    overflow: auto;
    background: #fff;
    display: none;
    padding-bottom: 12px;
    border-radius: 10px
}

.instalment-mj_ul {
    margin: auto;
    padding: 0 15px
}

.instalment-mj_ul li {
    line-height: 42px;
    border-bottom: 1px solid #d3d3d3;
    font-size: 1.15em;
    color: #666;
    padding: 0 0 10px 0
}

.instalment-ul_left {
    width: 32%;
    float: left;
    height: auto;
    line-height: 120px
}

.instalment-yh_select {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../images/phone/check_2.png") no-repeat;
    vertical-align: middle;
    margin-right: 5px
}

.instalment-yh_select_yes {
    background: url("../images/phone/check_1.png") no-repeat!important
}

.instalment-ul_right {
    width: 67%;
    float: right;
    height: auto
}

.instalment-ul_right p {
    height: 30px;
    width: 100% font-size:1em;
    white-space: nowrap
}

.staging_wz {
    float: left;
    text-align: left;
    height: 30px;
    margin-right: 15px
}

.staging_num {
    text-align: right;
    height: 30px
}

.s_language {
    position: absolute;
    line-height: 44px;
    margin-right: 15px;
    right: 0;
    font-size: 18px;
    display: block;
    color: #fff;
    z-index: 9999;
    cursor: pointer
}

.echo_language {
    position: absolute;
    top: 48px;
    right: 10px;
    width: 105px;
    height: auto;
    background: #fff;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    z-index: 1001
}

.triangle-up {
    width: 15px;
    height: 9px;
    position: relative;
    top: -9px;
    left: 75px;
    background: url("../images/phone/language-top.png") no-repeat
}

.echo_language_ul {
    width: 85px;
    float: right;
    margin-right: 2px
}

.echo_language_ul li {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-bottom: 1px solid #9d9d9d;
    cursor: pointer
}

.echo_language_ul li:last-child {
    border-bottom: 0
}

.language_action {
    background: url("../images/phone/bank_g.png") no-repeat center right 15px
}

.do-return {
    position: absolute;
    line-height: 44px;
    padding-left: 30px;
    left: 0;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: no-repeat 0 7px;
    background-size: 30px
}

.err {
    margin-top: 50px
}

.err_p1 {
    font-size: 18px;
    color: #df3234;
    text-align: center;
    margin-top: 15px
}

.err_p2 {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-top: 15px
}

.err_p3 {
    margin: 15px auto;
    height: 40px;
    width: 85%;
    line-height: 40px;
    background: #5ca3da;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    display: block
}

.erweima_tips {
    width: 61px;
    height: 36px;
    vertical-align: top;
    margin-top: -4px;
    background: url("../images/phone/erweima_tips.png") no-repeat;
    display: inline-block
}

.swipe_prompt {
    margin-left: 10px;
    vertical-align: sub
}

.s_left {
    width: 310px;
    margin: auto
}

.s_right {
    width: 50%;
    position: absolute;
    right: 5px;
    top: 15px
}

.s_left img {
    max-width: 310px;
    width: 100%;
    margin: auto
}

.qr_code_right {
    max-width: 170px;
    padding-left: 10px;
    width: 100%;
    float: right;
    border-left: 1px solid #d9d9da
}

.qr_code_right p {
    margin-top: 5px;
    font-size: 12px;
    font-family: "Microsoft Yahei"
}

.swipePayment_directions {
    width: 100%;
    min-height: 230px;
    padding: 15px 0;
    background: #fff;
    position: relative
}

.qr_code {
    width: 50%;
    border: 1px solid #e1e1e1;
    padding: 3px;
    margin-left: 40px;
    margin-top: 25px;
    position: relative
}

.pay_swipe_prompt {
    width: 90px;
    height: 60px;
    position: absolute;
    top: -13px;
    right: -90px;
    background: url("../images/phone/pay_swipe_prompt_img.png") no-repeat;
    display: block
}

.s_left_title {
    font-size: 20px;
    font-family: "microsoft yahe";
    color: #333
}

.down_app {
    width: 80px;
    height: 80px;
    margin-left: 16px;
    padding: 5px;
    border: 1px solid #e0e0e0
}

.down_img {
    width: 90px;
    margin-left: 16px
}

@media screen and (max-width: 639px) {
    .swipePayment_directions {
        position:inherit
    }

    .s_left {
        width: 100%!important;
        max-width: 310px!important;
        float: none;
        margin: auto
    }

    .s_right {
        width: 100%!important;
        max-width: 310px!important;
        float: none;
        margin: auto;
        position: inherit;
        left: 0
    }

    .qr_code_right {
        width: 50%;
        margin-left: 40px;
        margin-top: 15px;
        position: relative;
        float: inherit;
        border: 0
    }

    .s_left img {
        width: 100%!important
    }

    .s_right img {
        width: 100%!important;
        float: left!important;
        border: none!important
    }
}

#captchaImg {
    width: 100%;
    max-width: 104px;
    max-height: 36px
}

