*{
    margin: 0;
    padding: 0
}
.clearfix:after {
    content: '';
    height: 0;
    display: block;
    clear: both;
}
.wrap {
    width: 100%;
    background-color: #fff;
}
.content-wrap {
    width: 100%;
    height: 100vh;
    /* padding: 2%; */
    background-color: rgba(245, 246, 248, 1);
    /* padding: 50px 0; */
    /* margin-top: 20px; */
}
.content {
    width: 100%;
    height: 100%;
    /* margin: 0 auto; */
    background-color: #fff;
    /* padding: 30px; */
}
.title {
    /* padding: 10px 0; */
}
.title img:nth-child(1){
    width: 25%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}
.title img:nth-child(2){
    width: 100%;
    height: 22px;
    transform: rotate(180deg);
}
.contents {
    margin-top: -10px;
}
.contents .lines{
    width: 100%;
    height: 22px;
}
.contents .order {
    padding: 0 15px;
}
.contents .order p{
    font-size: 12px;
    color: #333333;
    padding-bottom: 10px;
}
.contents .contents-left {
    width: 88%;
    margin: 0 auto;
}
.contents .left-title {
    font-size: 12px;
    padding: 8px 15px;
    background-color:rgba(245, 246, 248, 1);
}
.contents .left-title span:nth-child(1){
    float: left;
}
.contents .left-title span:nth-child(2){
    float: right;
    color: #0099FF;
}
.contents .contents-left .warn {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #FF0000;
    text-align: center;
    margin: 20px 0 10px 0;
    height: 17px;
    line-height: 17px;
}
.contents .contents-left .inputs {
    margin-bottom: 20px;
    position: relative;
}
.contents .contents-left .inputs input::-webkit-input-placeholder{
    color:#000;
}　
.contents .contents-left .inputs p{
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    color: #797979;
    text-align: left;
}
.contents .contents-left .inputs input{
    outline: none;
    border: none;
    border-bottom: 1px solid #D7D7D7;
    width: 100%;
}
.contents .contents-left .inputs select {
    outline: none;
    border: none;
    border-bottom: 1px solid #D7D7D7;
    width: 100%;
    scroll-behavior: smooth;
    background-color: white;
}
.contents .contents-left .inputs input:focus {
    border-color: #00828b;
}
.contents .contents-left .inputs input::-webkit-input-placeholder{
    color:#D7D7D7;
}
.contents .contents-left .inputs img{
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 5%;
    display: none;
}
.contents .contents-left .inputs .code {
    width: 40%;
    float: right;
    width: 86px;
    height: 22px;
    line-height: 22px;
    background: inherit;
    background-color: #00828B;
    border: none;
    border-radius: 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
}
.contents .contents-left .next{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: inherit;
    background-color: rgba(0, 130, 139, 1);
    border: none;
    border-radius: 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #FFFFFF;
}
.contents .contents-left .have{
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    color: #0099FF;
    text-align: right;
    margin-top: 10px;
}
.contents .contents-left,.contents-right p{
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}
.contents .contents-left p span {
    /* color: #FF3300; */
}
.contents .contents-left .img {
    display: block;
    width: 173px;
    height: 172px;
    margin: 15px auto;
}
.contents .line {
    float: left;
    width: 2px;
    height: 380px;
    margin: 30px 50px 0 50px;
}
.contents .contents-right {
    float: left;
}
.contents .contents-right p {
    text-align: left;
    line-height: 25px;
}
.contents .contents-right p p:nth-child(1) {
    color: #999999;
    margin-right: 12px;
}
.contents .contents-right p.money {
    margin: 20px 0;
}
.contents .contents-right .money span:nth-child(1) {
    font-size: 22px;
    color: #333333;
}
.contents .contents-right .money span:nth-child(2) {
    font-size: 34px;
}
.contents .contents-right div{
    margin-bottom: 12px;
}
.contents .contents-right div p {
    line-height: 20px;
}
.contents .contents-right div p:nth-child(1){
    color: #797979;
}

.contents .faile {
    text-align: left;
}
.contents .faile p {
    line-height: 25px;
}
.contents .faile p span{
    color: #797979;
}
.contents .faile p span:nth-child(1){
    margin-right: 12px;
}

.bind_cards_container {
	margin-top: 20px;
}

.bind_card_item {
    padding-left: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid #D7D7D7;
    font-size: 12px;
    height: 32px;
}

.bind_card_item_indicator {
	display: inline-block;
	float: right;
	margin-right: 20px;
	height: 32px;
	line-height: 32px;
}

.bind_cards_container {
	margin-bottom: 32px;
}

.bind_card_item_card_no {
	display: inline-block;
	height: 32px;
	line-height: 32px;
}

.bank_card_quote_return {
	font-size: 12px;
	margin-top: 20px;
	padding: 4px 16px 4px 16px;
}
