*{
    margin: 0;
    padding: 0
}
.clearfix:after {
    content: '';
    height: 0;
    display: block;
    clear: both;
}
.wrap {
    width: 100%;
    background-color: #fff;
}
.content-wrap {
    width: 980px;
    margin: 0 auto;
    background-color: rgba(245, 246, 248, 1);
    padding: 50px 0;
    /* margin-top: 20px; */
}
.content {
    width: 860px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
}
.title img:nth-child(1) {
    width: 128px;
    height: auto;
}
.title img:nth-child(2) {
    display: inline-block;
    width: 2px;
    height: 15px;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.title span {
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    color: #6B6B6B;
    font-size: 14px;
    font-weight: 200;
}
.contents {
    padding: 50px 50px 0 50px;
}
.contents .contents-left {
    float: left;
    width: 260px;
}

.contents .contents-left .left-title span:nth-child(1){
    float: left;
}
.contents .contents-left .left-title span:nth-child(2){
    float: right;
    color: #0099FF;
}
.contents .contents-left .warn {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #FF0000;
    text-align: center;
    margin: 20px 0 10px 0;
    height: 17px;
    line-height: 17px;
}
.contents .contents-left .inputs {
    margin-bottom: 20px;
    position: relative;
}
.contents .contents-left .inputs input::-webkit-input-placeholder{
    color:#000;
}　
.contents .contents-left .inputs p{
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    color: #797979;
    text-align: left;
}
.contents .contents-left .inputs input{
    outline: none;
    border: none;
    border-bottom: 1px solid #D7D7D7;
    width: 100%;
}
.contents .contents-left .inputs input:focus {
    border-color: #00828b;
}
.contents .contents-left .inputs input::-webkit-input-placeholder{
    color:#D7D7D7;
}
.contents .contents-left .inputs img{
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 5%;
    display: none;
}
.contents .contents-left .inputs .code {
    width: 40%;
    float: right;
    width: 86px;
    height: 22px;
    line-height: 22px;
    background: inherit;
    background-color: #00828B;
    border: none;
    border-radius: 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
}
.contents .contents-left .next{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: inherit;
    background-color: rgba(0, 130, 139, 1);
    border: none;
    border-radius: 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #FFFFFF;
}
.contents .contents-left,.contents-right p{
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    /* text-align: center; */
}
.contents .contents-left p span {
    /* color: #FF3300; */
}
.contents .contents-left .img {
    display: block;
    width: 173px;
    height: 172px;
    margin: 15px auto;
}
.contents .line {
    float: left;
    width: 2px;
    height: 380px;
    margin: 30px 50px 0 50px;
}
.contents .contents-right {
    float: left;
    border-left:1px dashed;
    border-color: #ADADAD;
    margin-left:50px
}


.contents .faile {
    text-align: left;
}
.contents .faile p {
    line-height: 25px;
}
.contents .faile p span{
    color: #797979;
}
.contents .faile p span:nth-child(1){
    margin-right: 12px;
}

   .contents .contents-left .label {
        color:#ADADAD;
        font-size:13px;
        margin-bottom: 5px;
    }

    .contents .contents-left .attention {
        color:red;
        font-size:12px;
        margin-bottom: 5px;
    }

    .contents .contents-left .note {
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        text-align: left;
        margin-bottom: 20px;
    }

     .contents .contents-left div span {
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        text-align: left;
        margin-bottom: 20px;
    }

    .contents .contents-left .copy {
        font-style: normal;
        font-size: 13px;
        color:white;
        text-decoration:none;
        text-align: center;
        float: right;
        background-color:#009393;
        padding:2px 16px;
        border-radius:2px;
    }

    .contents .contents-left .item {
        margin-bottom:20px
    }

    .contents .contents-right .note {
        margin-bottom:20px
    }

    .contents .contents-right .prefix {
        font-size:30px
    }
     .contents .contents-right .suffix {
        font-size:21px
    }

    .contents .contents-right .item {
        margin-left:50px;
        margin-bottom:20px;
    }

    .contents .contents-right .copy {
        font-style: normal;
        font-size: 13px;
        color:white;
        text-decoration:none;
        text-align: center;
        float: right;
        background-color:#009393;
        padding:2px 16px;
        border-radius:2px;
    }

   .contents .contents-right .label {
        color:#ADADAD;
        font-size:13px;
        margin-bottom: 5px;
    }

    .contents .contents-right .money {
        margin-left:50px;
        margin-bottom:25px;
    }

    .contents .contents-right div span {
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        text-align: left;
        margin-bottom: 20px;
    }

    .loading .contents img{
        top:50%;
        left:50%;
        margin:-150px 0 0 -50px;
        width:30%;
        height:30%;
    }