* {
    margin: 0;
    padding: 0
}

.clearfix:after {
    content: '';
    height: 0;
    display: block;
    clear: both;
}

.wrap {
    width: 100%;
    background-color: #fff;
}

.content-wrap {
    width: 980px;
    margin: 0 auto;
    background-color: rgba(245, 246, 248, 1);
    padding: 50px 0;
    /* margin-top: 20px; */
}

.content {
    width: 860px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
}

.title img:nth-child(1) {
    width: 128px;
    height: auto;
}

.title img:nth-child(2) {
    display: inline-block;
    width: 2px;
    height: 15px;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.title span {
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    color: #6B6B6B;
    font-size: 14px;
    font-weight: 200;
}

.contents {
    padding: 50px 50px 0 50px;
}

.contents .contents-left {
    float: left;
    width: 300px;
}

.contents .contents-left .left-title span:nth-child(1) {
    float: left;
}

.contents .contents-left .left-title span:nth-child(2) {
    float: right;
    color: #0099FF;
}

.contents .contents-left .warn {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #FF0000;
    text-align: center;
    margin: 20px 0 10px 0;
    height: 17px;
    line-height: 17px;
}

.contents .contents-left .inputs {
    margin-bottom: 20px;
    position: relative;
}

.contents .contents-left .inputs input::-webkit-input-placeholder {
    color: #000;
}

　
.contents .contents-left .inputs p {
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    color: #797979;
    text-align: left;
}

.contents .contents-left .inputs input {
    outline: none;
    border: none;
    border-bottom: 1px solid #D7D7D7;
    width: 100%;
}

.contents .contents-left .inputs input:focus {
    border-color: #00828b;
}

.contents .contents-left .inputs input::-webkit-input-placeholder {
    color: #D7D7D7;
}

.contents .contents-left .inputs img {
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 5%;
    display: none;
}

.contents .contents-left .inputs .code {
    width: 40%;
    float: right;
    width: 86px;
    height: 22px;
    line-height: 22px;
    background: inherit;
    background-color: #00828B;
    border: none;
    border-radius: 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

.contents .contents-left .next {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: inherit;
    background-color: rgba(0, 130, 139, 1);
    border: none;
    border-radius: 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #FFFFFF;
}

.contents .contents-left, .contents-right p {
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    /* text-align: center; */
}

.contents .contents-left p span {
    /* color: #FF3300; */
}

.contents .contents-left .img {
    display: block;
    width: 173px;
    height: 172px;
    margin: 15px auto;
}

.contents .line {
    float: left;
    width: 2px;
    height: 380px;
    margin: 30px 50px 0 50px;
}

.contents .contents-right {
    float: left;
    border-left: 1px dashed;
    border-color: #ADADAD;
    margin-left: 50px
}

.contents .faile {
    text-align: left;
}

.contents .faile p {
    line-height: 25px;
}

.contents .faile p span {
    color: #797979;
}

.contents .faile p span:nth-child(1) {
    margin-right: 12px;
}

.contents .contents-left .label {
    color: dimgray;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 30px;
}

.contents .contents-left .chain-tag {
    line-height: 10px;
    height: 5px;
    font-size: 12px;
    border: none;
    background-color: #E0E0E0;
    padding: 2px 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.contents .contents-left .selected-chain-tag {
    line-height: 10px;
    height: 5px;
    font-size: 12px;
    background-color: white;
    color: #66B3FF;
    padding: 2px 10px;
    border: 1px solid #66B3FF;
    text-decoration: none;
    cursor: pointer;
}

.contents .contents-left .chain {
    margin: 10px 0 10px 50px;
}

.contents .contents-left .attention {
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
}

.contents .contents-left .note {
    font-style: normal;
    font-size: 12px;
    text-align: center;
    color: dimgray;
}

.contents .contents-left div span {
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-align: left;
    margin-bottom: 20px;
}

.contents .contents-left .copy {
    font-size: 12px;
    color: deepskyblue;
    text-decoration: none;
    text-align: center;
    padding: 2px 10px;
    border: solid 1px deepskyblue;
}

.contents .contents-left .finish-order-btn {
    display: block;
    background-color: #0072E3;
    color: white;
    padding: 5px 1px;
    border-radius: 3px;
}

.contents .contents-left .item {
    margin-bottom: 20px
}

.contents .contents-right .note {
    margin-bottom: 20px
}

.contents .contents-right .item {
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 12px;
}

.contents .contents-right .label {
    color: #ADADAD;
    font-size: 13px;
    margin-bottom: 5px;
}

.contents .contents-right .money {
    margin-left: 50px;
    margin-bottom: 100px;
}

.contents .contents-right div span {
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-align: left;
    margin-bottom: 20px;
}

.loading .contents img {
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -50px;
    width: 30%;
    height: 30%;
}

.content-wrap .content .title {
    margin-left: 50px;
}

.content-wrap .content .title span {
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.content-wrap .content .title img {
    margin-bottom: -20px;
    width: 4%;
}

.split-line {
    width: 80%;
    border-bottom: 1px solid #F0F0F0;
    margin: 0 auto
}

#large_transfer_attention {
    color: dimgray;
}

#qrcode {
    margin: 15px 0 15px 0;
}

.amount {
    font-size: 24px;
}

.contents-left .help {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.help-dialog {
    display: none;
    width: 300px;
    height: 500px;
    position: relative;
    background-color: #fff;
    margin: -650px auto 0;
    z-index: 1000;
    border-radius: 10px;
}

#modal-overlay {
    visibility: hidden;
    position: absolute; /* 使用绝对定位或固定定位  */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 999;
    background-color: #333;
    opacity: 0.5; /* 背景半透明 */
}

.help-dialog .help-content {
    position: absolute;
    padding: 20px 25px;
}

.help-dialog .help-content p {
    font-size: 12px;
    margin-bottom: 20px;
}

.help-dialog .help-content p.help-text{
    margin-bottom: 0;
}

.help-dialog .help-content .finish-btn{
    background-color: #0072E3;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 85px;
    font-size: 14px;
    text-decoration: none;
}

.finish-dialog {
    display: none;
    width: 450px;
    height: 150px;
    position: relative;
    background-color: #fff;
    margin: -450px auto 0;
    z-index: 1000;
    border-radius: 10px;
}

.finish-dialog .finish-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px 25px;
}

.finish-dialog .finish-content p {
    font-size: 12px;
    margin-bottom: 20px;
}

.finish-dialog .finish-content .finish-btn{
    background-color: #0072E3;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    margin-right: 50%;
    float: right;
    text-decoration : none;
}