*{
    margin: 0;
    padding: 0
}
body{
	background-color: rgba(245, 246, 248, 1);
}
.clearfix:after {
    content: '';
    height: 0;
    display: block;
    clear: both;
}
.wrap {
    width: 100%;
    background-color: #fff;
}
.wrap_one {
    width: 100%;
    background-color: rgba(245, 246, 248, 1);
    /** margin: 20px; */
    padding-bottom: 15px;
    float: left;
    /** min-height: -webkit-fill-available !important;
    min-height: 100vh; */
}
.contents {
    /** width: 100%; */
    margin: 0 20px 0 20px;
    background-color: #fff;
}
.contents .head {
    border: none;
    border-radius: 0px;
}
.contents .head img:nth-child(1){
    display: block;
    width: 73px;
    height: 25px;
    margin: 0 auto;
    padding: 10px 0;
}
.contents .head img:nth-child(2){
    width: 100%;
    height: 22px;
    transform: rotate(180deg);
}
.contents .content {
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: -10px;
    padding-bottom: 20px;
}
.contents .content .line {
    width: 100%;
    height: 22px;
}
.contents .content .money {
    font-size: 32px;
}
.contents .content .bigRedWord {
    font-size: 14px;
    color: #FF0000;
}

.contents .content .redWord {
    font-size: 12px;
    color: #FF0000;
}
.contents .content .loading {
    width: 80px;
    height: 76px;
    display: block;
    margin: 30px auto 10px auto;
}
.contents .content .smallWord {
    font-size: 10px;
    color: #333333;
    line-height: 25px;
}
.contents .content .time {
    font-size: 24px;
    margin-top: 30px;
}
.contents .content .img_line {
    width: 100%;
    height: 2px;
}
.contents .content .img_phone {
    width: 181px;
    height: 62px;
    display: block;
    margin: 15px auto;
}
.contents .content .erweima {
    margin-top: 20px;
    padding: 5px;
    margin: 0 auto;
    width: 164px;
    margin-top: 20px;
}

.contents .content .erweima img{
    width: 128px;
    height: 128px;
    display: block;
    margin: 0 auto;
}

.contents .content .order {
    width: 113px;
    height: 42px;
    line-height: 42px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 0, 0, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #FF0000;
    margin: 20px auto;
}
.contents .content .order_status {
    text-align: left;
    font-size: 12px;
    line-height: 22px;
    padding-left: 20px;
    color: #333333;
}
.contents .content .order_status span:nth-child(1){
    margin-right: 12px;
}
.contents .content .wechat {
    width: 130px;
    height: 28px;
    line-height: 28px;
    background: inherit;
    background-color: rgba(0, 172, 28, 1);
    border: none;
    border-radius: 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    color: #FFFFFF;
    margin: 10px auto;
}
.contents .content .alipay {
    background-color: rgba(53, 152, 219, 1);
}

.contents .content .words {
    margin-top:20px
}

.contents .content .wechatbtr {
    width: 140px;
    height: 42px;
    line-height: 42px;
    background-color: #00A600;
    box-sizing: border-box;
    border: 1px solid #00A600;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color:#F0F0F0;
    margin: 20px auto;
}

.contents .content .wechatDiv .wechat {
    width: 12rem;
    height: 2rem;
    line-height: 2rem;
    background: inherit;
    background-color: #00A600;
    border: none;
    border-radius: 0.2rem;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #FFFFFF;
    margin: 10px auto;
}
