*{
    margin: 0;
    padding: 0
}
.clearfix:after {
    content: '';
    height: 0;
    display: block;
    clear: both;
}
.wrap {
    width: 100%;
    background-color: #fff;
}
.content-wrap {
    width: 980px;
    margin: 0 auto;
    background-color: rgba(245, 246, 248, 1);
    padding: 50px 0;
    margin-top: 20px;
}
.content {
    width: 860px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
}
.title img:nth-child(1) {
    width: 93px;
    height: auto;
}
.title img:nth-child(2) {
    display: inline-block;
    width: 2px;
    height: 15px;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.title span {
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    color: #6B6B6B;
    font-size: 14px;
    font-weight: 200;
}
.contents {
    padding: 50px;
}
.contents .contents-left {
    float: left;
}
.contents .contents-left,.contents-right p{
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-align: center;
}
.contents .contents-left p span {
    color: #FF3300;
}
.contents .contents-left .img {
    display: block;
    width: 173px;
    height: 172px;
    margin: 15px auto;
}
.contents .contents-left div {
    display: block;
    width: 173px;
    height: 172px;
    margin: 15px auto;
}
.contents .line {
    float: left;
    width: 2px;
    height: 174px;
    margin: 30px 70px 0 70px;
}
.contents .contents-right {
    float: left;
}
.contents .contents-right p {
    text-align: left;
    line-height: 25px;
}
.contents .contents-right p span:nth-child(1) {
    color: #999999;
    margin-right: 12px;
}
.contents .contents-right p.money {
    margin: 20px 0;
}
.contents .contents-right .money span:nth-child(1) {
    font-size: 22px;
    color: #333333;
}
.contents .contents-right .money span:nth-child(2) {
    font-size: 34px;
}

.contents .faile {
    text-align: left;
}
.contents .faile p {
    line-height: 25px;
}
.contents .faile p span{
    color: #797979;
}
.contents .faile p span:nth-child(1){
    margin-right: 12px;
}